<section>
 
  <form class="create-post">
        <div class="form-group d-grid gap-1 col-6 mx-auto">
          <label class ="d-grid gap-1 col-4 mx-auto">Write your Blog Post!</label>
          <br>
            <textarea type="text" class="post-title" placeholder="Blog title..." rows="1"></textarea>
          <br>
            <textarea type="text" class="post-content" placeholder="Start writing your post here" rows="8"></textarea>
        </div>
        <div class="d-grid gap-1 col-6 mx-auto">
            <button type="submit" class="btn btn-primary">Post Blog</button>
        </div>
      </form>

</section>

<script src="/js/post.js"></script>
