<section class="posts">
  {{>post-info post}}

  {{> comment post.comments}}

  {{#if logged_in}}
  <form>
  <div class="form-group">
    <label>comment</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>
  <button type="submit" class="btn text-primary">Post Comment</button>
</form>
  {{/if}}

</section>

{{#if logged_in}}
<script src="/public/js/comment.js"></script>
{{/if}}